body{
    font-family: Arial, Helvetica, sans-serif;
    color: black;      
}

.header{
    display: flex;    
    justify-content: space-between;
    margin-top: 5%;     
}

.menu-myh{
    display: flex; 
    margin: 5px;   
}

.menu-m > ul{
    display: flex;
   
   
}
.menu-m > ul > li{    
    margin: 30px;
    
 }
 .menu-m > ul > li > ol{
    display: none;
    
 }
 .menu-m > ul > li > button:focus ∼ ol{
    display: block;
    
 }
 .menu-h{
    margin-left: 5px;
}

.b-search{
    margin-top: 10px;
}

.title{
    font-size: 20px;
    text-align: center;
 
}

.u-title{
    display: flex;
    justify-content:center;
    
    
}

.gallery{
    display: flex;
    flex-wrap: wrap;
}

img{
    width: 100%;  
}

.item{
    width: 22%;
    margin: 1%;
    text-align: center;
    font-size: 13px;
}